<div class="upper-components">
  <div class="history-component">
    {{search-history model=model}}
  </div>
  <div class="form-component">
    {{user-input-form model=model}}
  </div>
</div>
<div class="lower-components">
  <h1>Data Visulization</h1>  
  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  {{outlet}}
</div>
