<div class="loading-container">
        <div class="search-button">
        {{#link-to 'dashboard'}}
            <div class="return-button">
                <a class="waves-effect waves-light btn">Perform Another Search</a>
            </div>
        {{/link-to}}  
    </div>
<div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
</div>

