<div class="backend-list">
    <h3>Data Received from Backend</h3>
    <ul> 
        {{#each model.links as |link|}}
            <li>
                {{link}}
            </li>
        {{/each}}
    </ul>
</div>