<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Team Azha Web Crawler</a>
      <ul id="nav-mobile" class="right">
        <li><a href="/">About</a></li>
      </ul>
    </div>
</nav>
