<div class="backend-list">
<ul> Data reveived from Backend
    <li>
        URL: {{model.data.url}}
    </li>
    <li>
        Method: {{model.data.searchMethod}}
    </li>
    <li>
        Depth: {{model.data.depth}}
    </li>
    <li>
        Keyword: {{model.data.keyword}}
    </li>
</ul>
</div>
