@import 'components/user-input-form.css';
@import 'components/nav-bar.css';
@import 'components/search-history.css';
@import 'components/d3-visualization.css';
@import 'search.css';
@import 'loading.css';

.upper-components {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
}

.lower-components {
    text-align: center;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
 
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #0083B0, rgba(0, 179, 219, 0.164)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}