@import 'components/user-input-form.css';
@import 'components/nav-bar.css';

.lower-components {
    display: flex;
}

.history-component {
    flex-basis:  70%;
}

.backend-list {
    margin-left: 300px; 
}

.loading-spinner {
    margin: 5% 0 0 25%;
}

.brand-logo {
    margin-left: 0px;
}

body {
    background-color: #e0e0e0;
    height: 100%;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}
